<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
  <link rel="stylesheet" href="/static/styles.css"> <!-- CSSファイルをリンク -->
</head>

<body>
  <ul class="user-list">
    <% for (const user of users) { %>
      <li class="user-name"><%= user %></li>
    <% } %>
  </ul>

  <div class="image-container">
    <img src="/static/end.jpg" alt="Background Image">
  </div>

  <script src="/static/index.js" defer></script>
</body>

</html>